.portfolio {
  position: relative;
}

.progress {
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 50px;
  font-size: 36px;
  text-align: center;
  color: orange;
}
.progressBar {
  background: white;
  height: 10px;
}

.portfolioContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 50px;
  gap: 50px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  overflow: hidden;
}

.portfolioImageContainer {
  flex: 1;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.portfolioImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.portfolioTextContainer {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.portfolioTextContainer h2 {
  font-size: 48px;
  color: orange;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}

.portfolioTextContainer p {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
}

.portfolioTextContainer button {
  cursor: pointer;
  color: orange;

  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  align-self: center;
}

.portfolioWrapper {
  max-width: 1366px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 768px) {
  .progress {
    padding-top: calc(100vh - 100px);
    z-index: 11;
  }
  .progress h1 {
    font-size: 30px;
    
  }
  .progressBar {
    background: white;
    height: 5px;
  }
  .portfolioWrapper {
    flex-direction: column;
    gap: 10px;
  }
  .portfolioImageContainer {
    width: 100%;
    overflow: unset;
    max-height: 860px;
    object-fit: cover;
    position: relative;
    z-index: 10;
    transition: transform 0.3s cubic-bezier(0.42, 0, 0, 0.94);
  }

  .portfolioTextContainer h2 {
    font-size: 20px;
    color: orange;
    font-weight: bold;
    line-height: 1.2;
  }
}
