.navbar {
    height: 100px;
}

.navbar .wraper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 7em;
}

.navbar .wraper .MyLogo {
   width: 200px;
   height: 60px;
   filter: invert(1);
}
.navLinks a{
    font-size: 24px;
    padding: 20px;
}
.navbar .wraper .socialLink {
    display: flex;
    gap: 10px;
}

.navbar .wraper .socialLink img {
    height: 30px;
    width: 30px;
}

@media (max-width : 738px) {
    .navbar .wraper .MyLogo {
        width: 200px;
        height: 50px;
        margin: 70px;
     }
    .navbar .wraper {
     justify-content: flex-end;
    } 
    .navbar .wraper .socialLink {
        margin: 10px 10px;

    }
    .navLinks a{
        font-size: 14px;
        padding: 10px;
        display: none;
    }
}



@media (max-width : 1024px) {
    
}

@media (max-width : 1366px) {
   

}