.navbar{
    height: 100px;

    .wraper{
     max-width: 1366px;
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 100%;
     span{
     font-size: 2em;
    
     }
     .socialLink{
        display: flex;
        gap: 10px;

        img{
            height: 30px;
            width: 30px;

        }
     }
    }
}