
html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans" , sans-serif;
}

body{
    background: rgb(2, 2, 28);
    color: rgb(233, 221, 221);

}
a{
    text-decoration: none;
    color: inherit;
}

section{
    overflow: hidden;
    height: 100vh;
    scroll-snap-align: center;
}
